<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
   Follow me at
  <a href="http://gemilleford.com" target="_blank">Gem's Journey</a> where I post about my progress in learning web development with
  <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.
  <p>
  This is the sample application for the The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>.
</p>