<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<center>
<form>
<p>Name</p>
<input type="text" name="name">
<p>Email</p>
<input type="email" name="email">
<p>Password</p>
<input type="password" name="password">
<p>Confirmation</p>
<input type="password" name="confirmation">
<p>
  <br><input type="submit" name="create" value="Create Account">
</form>
</center>